@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff !important;
    font-family: 'Chakra Petch', sans-serif !important;
}
.container .box{
    background-color: #fff;
    padding: 40px;
    margin-top: 100px;
    border-radius: 10px;
}
.container .box h3{
    margin-bottom: 30px;
    font-weight: 500;
}
.container .box button{
    background-color: #e7ffef;
    border: none;
    color: #000;
    border:  2px solid #81b687;
    box-shadow: none;
    font-size: 10px !important;
}
.container .box button:hover{
    background-color: #81b687;
    color: #fff;
    transition: 0.5s;
}
.container h6{
    text-align: center;
    margin-top: 15px;
}
.container a{
    color: #15a325
}
.container .box-2 img{
    width: 100%;
}


.services-right-image {
  position: relative;
}

.services-right-image img {
  position: absolute;
} 
     
.services-right-image img:nth-child(1) {
  left: 22%;
  top: -85px;
  z-index: 1;
}

.services-right-image img:nth-child(2) {
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  top: -52px;
}

.services-right-image img:nth-child(3) {
  left: 44%;
  top: -33px;
  z-index: 1;
}

.services-right-image img:nth-child(4) {
  right: 38%;
  z-index: 1;
  top: -220px;
}

.services-right-image img:nth-child(5) {
  z-index: 1;
  right: 24%;
  top: 8px;
}

.services-right-image img:nth-child(6) {
  left: 29%;
  top: 0;
  z-index: 1;
}

.services-right-image img:nth-child(7) {
  right: 44%;
  top: -78px;
  z-index: 1;
}

.services-right-image img:nth-child(8) {
  right: 30%;
  top: -134px;
  z-index: 1;
}

.services-right-image img:nth-child(9) {
  right: 31%;
  top: -21px;
  z-index: 1;
}

.services-right-image img:nth-child(10) {
  right: 24%;
  top: -80px;
}

.services-right-image img:nth-child(11) {
  left: 27%;
  top: -60px;
  z-index: 2;
}

.services-right-image img:nth-child(12) {
  right: 28%;
  z-index: 1;
  top: -54px;
}

.services-right-image img:nth-child(13) {
  left: 31%;
  top: -105px;
  z-index: 1;
}

.services-right-image img.bg-image {
  top: -262px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.services-right-image img:last-child {
  display: none;
}

.services-right-image.single-right-image img {
  display: block;
}

.services-right-image.single-right-image img:first-child {
  top: -60px;
}

.services-right-image.single-right-image img:last-child {
  position: relative;
  left: 0;
  top: 0;
}

.rotateme {
  -webkit-animation-name: rotateme;
          animation-name: rotateme;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate3d {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotate3d {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
